<?xml version="1.0"?>
<launch>

    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/pruebas.world"/>
    <include file="$(find offbnode)/launch/mavros_posix_sitl.launch">
        <arg name="gui" default="false"/>
        <arg name="vehicle" default="iris_gimbal"/>
        <arg name="world" value="$(arg world)"/>
    </include>
    <node type="offboard_node.py" name="offboard_node" pkg="offbnode" output="screen" />
    <!-- <node type="image_joke_cal_2.py" name="image_joke_cal_2" pkg="offbnode" output="screen" /> -->
    <!-- <node ns="offbnode" type="stereo_image_proc" name="stereo_image_proc" pkg="stereo_image_proc" output="screen" /> -->
    <!-- <node type="capture_for_px4.py" name="capture_for_px4" pkg="offbnode" output="screen" args="$(env HOME)/imagenes" />
    <node type="offb_node_rute_square" name="offb_node_rute_square" pkg="offbnode" output="screen" args="45" /> -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find offbnode)/rviz/nav.rviz" />

</launch>
