<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->


    <arg name="mundo" default="pruebas"/>
    <arg name="carpeta_imagenes" default="$(arg mundo)/"/>

    <!-- vehicle model and world -->
    <arg name="gui" default="false"/>
    <arg name="vehicle" default="iris_gimbal"/>
    <arg name="world" default="$(find offbnode)/worlds/$(arg mundo).world"/>
    <!-- MAVROS configs -->
    <arg name="gcs_url" default="udp://:18570@localhost:14550"/>

    <!-- Gazebo sim -->
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>
    <!-- <include file="$(find offbnode)/launch/mavros_posix_sitl.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="gcs_url" value="$(arg gcs_url)"/>
        <arg name="gui" default="$(arg gui)"/>
    </include> -->

    <!-- <node type="capture_for_px4.py" name="capture_for_px4" pkg="offbnode" output="screen" args="$(env HOME)/Capture_px4/$(arg carpeta_imagenes)" />
    <node type="offb_node_rute_square" name="offb_node_rute_square" pkg="offbnode" output="screen" args="$(arg angulo_entrada)" /> -->

</launch>
